// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.posts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .content {
        h4 {
            color: indigo;
            font-size: 20px;
            margin: 0;
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
    width: 100%;
}

.btn {
    margin-left: 4px;
    display: flex;
    transform: rotate(0.5deg); // good one
}

textarea.form-control {
    min-height: 200px;
}

.cat-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: indigo;
        font-size: 24px;
    }

    .description {
        font-size: 16px;
        color: grey;
    }

    .plate {
        font-size: 20px;
        color: crimson;
    }
}

.small-text {
    font-size: 16px;
    color: black;
}

