// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.posts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        h2 {
            color: indigo;
            font-size: 24px;
            margin: 0;
        }
    }
}
.buttons {
    display: flex;
    margin: 5px 10px;
}
.btn {
    margin-left: 4px;
    transform: rotate(0.5deg); // good one
}
textarea.form-control {
    min-height: 200px;
}
.truck-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        color: indigo;
        font-size: 24px;
    }
    .description {
        font-size: 16px;
        color: grey;
    }
    .plate {
        font-size: 20px;
        color: crimson;
    }
}
.small-text {
    font-size: 16px;
    color: black;
}
