body {
    margin: 0;
    margin-left: calc(50% - 150px);
}
.title {
    color: crimson;
}
.link {
    color: magenta;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}
.container {
    width: 300px;
    background-color: bisque;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
.button {
    padding: 25px;
    border: 2px solid blue;
    background-color: beige;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: 0.7s;
    text-decoration: none;
}
.button:hover {
    background-color: aquamarine;
}