// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.posts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .content {
        h4 {
            color: indigo;
            font-size: 20px;
            margin: 0;
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
    width: 100%;
}

.btn {
    margin-left: 4px;
    display: flex;
    transform: rotate(0.5deg); // good one
}

textarea.form-control {
    min-height: 200px;
}

.cat-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: indigo;
        font-size: 24px;
    }

    .description {
        font-size: 16px;
        color: grey;
    }

    .plate {
        font-size: 20px;
        color: crimson;
    }
}

.small-text {
    font-size: 16px;
    color: black;
}
.img-small-ch {
    .image {
        position: relative;
        width: auto;
        height: 150px;
        margin: 20px;
        img {
            width: auto;
            height: 150px;
            position: relative;
            z-index: 10;
        }
        label {
            position: absolute;
            z-index: 12;
            top: -10px;
            left: -10px;
            background-color: crimson;
            columns: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-weight: bold;
            user-select: none;
            cursor: pointer;
        }
        [type=checkbox] {
            display: none;
            &:checked ~ img {
                opacity: 0.3;
            }
        }
    }
}
.swiper {
    width: 600px;
    height: 300px;
}
.all-tags {
    margin: 0 10px;
    border: 1px solid grey;
    span {
        padding: 5px;
        color: grey;
    }
}
