@import "~bootstrap/scss/bootstrap";
h1 {
    color: crimson;
    span {
        color: skyblue;
    }
}
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__content {
        display: flex;
        justify-content: flex-start;
        margin: 4px;
        gap: 20px;
        &__type {
            font-size: 18px;
            font-weight: 600px;
            color: skyblue;
            margin-right: 10px;
            line-height: 20px;
        }
        &__weight {
            font-size: 16px;
            font-weight: 600px;
            color: grey;
        }
        &__tail {
            width: 20px;
            height: 20px;
            background-color: crimson;
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
    }
}
.user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    .name {
        font-size: 22px;
        font-weight: bold;
    }
}
.nav-link {
    padding: 18px 10px;
}
.msg-bin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .msg {
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        border: solid 2px green;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        min-width: 300px;
    }
}